<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="TEST" class="ch.qos.logback.core.read.ListAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.example.auditlib.methodlog.AuditLogAspect" level="INFO">
        <appender-ref ref="TEST" />
    </logger>

    <root level="INFO">
        <appender-ref ref="TEST" />
    </root>
</configuration>